<div class="container">
    <h1 class="main-title">Eat-Da-Burger!</h1>

    <h2 class="waiting">Burgers Waiting to be Devoured</h2>

    <ul>
        {{#each burgers}}
        {{#unless devoured}}

        <li>
            {{burger_name}}

            <button type="button" class="devour-burger btn btn-success" data-id="{{id}}">
                I'M STARVING!
            </button>
        </li>
        {{/unless}}
        {{/each}}
    </ul>

    <h2 class="delicious">Burgers Devoured</h2>

    <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>

            {{burger_name}}

        </li>
        {{/if}}
        {{/each}}
    </ul>

    <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger_name" name="name">

            <button type="submit" class="btn btn-warning">Add Burger</button>
    </form>
</div>